includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon
    - vendor/spaze/phpstan-disallowed-calls/extension.neon
    - phpstan-disallowed-calls.neon
    - phpstan-disallowed-baseline.neon

parameters:
    paths:
        - app/
        - bootstrap/app.php
        - config/
        - database/
        - routes/

    level: 7
